@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  font-family: "Bree Serif", serif;
}

#projects {
  text-align: center;
  width: 90%;
  margin: auto;
  font-family: "Bree Serif", serif;
}

#majorMain {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  text-align: left;
  padding-bottom: 20px;
  border:0px solid greenyellow;
  font-family: "Bree Serif", serif;
}
#btn_Prj {
 
  border: 2px solid red;
  color: white;
  background-color: #4c3575;
}
#btn_Prj:hover {
  background-color: rgba(121, 114, 232, 1) 10px 10px 0px 0px;
  
}

#major_projectDiv {
  border:0px solid red;
  color: #4c3575;
  width: 95%;
  font-family: "Bree Serif", serif;
  margin: auto;
  margin-top: 30px;
  /* height: 380px; */
  height: auto;
  display: flex;

  justify-content: space-between;
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
  border-radius: 15px;
}

#links {
  border: 0px solid yellow;
}
/* #links:hover {
  background-color: aqua
} */
.major_project_imgDiv {
  border-radius: 15px;
  width: 45%;
  font-family: "Bree Serif", serif;
  margin: 20px;
  padding: 10px;
  border:0px solid yellow;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.major_project_imgDiv:hover {
  transform: none;
  box-shadow: none;
}

.major_project_imgDiv > img {
  width: 100%;
  height: 100%;
  font-family: "Bree Serif", serif;
  border-radius: 15px;
  border:0px solid #753536;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  box-shadow: #bfbdc27e 10px 10px 0px 0px;
}


.major_project_detailsDiv {
  margin: 20px;
  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
  border:0px solid black;
  width: 48%;
  transition: all 0.2s ease-in-out;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  font-family: "Bree Serif", serif;
  border-radius: 15px;
  padding-left: 2.5%;
  padding-top: 50px;
  background-color: #c4b0e7;
}

.major_project_detailsDiv:hover {
  transform: none;
  box-shadow: none;
}

#major_project_detailsDiv_Heading {
  margin-bottom: 10px;
  font-family: "Bree Serif", serif;

  font-size: 25px;
  border:0px solid greenyellow;
}
#major_project_detailsDiv_Heading:hover {
  transform: none;
  box-shadow: none;
}
#major_project_detailsDiv_detail {
  margin-bottom: 10px;
  border:0px solid green;
  color: black;
  font-family: "Bree Serif", serif;
  padding: 10px;
  text-align: left;
}

#major_project_detailsDiv_detail:hover {
  transform: none;
  box-shadow: none;
}
#major_project_detailsDiv_tehcs {
  margin-bottom: 0px;
  border:0px solid blue;
  font-family: "Bree Serif", serif;
  text-align: left;
}

#major_project_detailsDiv_tehcs:hover {
  transform: none;
  box-shadow: none;
}
/* no need button duv */
#major_project_detailsDi_btnDiv {
  width: 50%;
  display: flex;
  justify-content: space-between;
  border:0px solid green;
  font-family: "Bree Serif", serif;
}

#major_project_detailsDi_btnDiv:hover {
  transform: none;
  box-shadow: none;
}

/* no need changes */
#major_project_detailsDi_btnDiv > button {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Bree Serif", serif;
  position: unset;
  border:0px solid rgb(17, 0, 128);
}

#major_project_detailsDi_btnDiv button:hover {
  transform: none;
  box-shadow: none;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  #majorMain {
    width: 95%;
    margin: auto;
    margin-top: 50px;
  }

  #major_projectDiv {
    height: auto;
  }

  .major_project_detailsDiv {
    padding-left: 2%;
    padding-top: 10px;
  }

  #major_project_detailsDiv_Heading {
    margin-bottom: 20px;
  }

  #major_project_detailsDiv_detail {
    margin-bottom: 20px;
  }

  #major_project_detailsDiv_tehcs {
    margin-bottom: 0px;
  }

  #major_project_detailsDi_btnDiv {
    width: 80%;
    padding-bottom: 20px;
  }

  #major_project_detailsDi_btnDiv > button:nth-child(2) {
    margin-left: 10px;
  }

  .links {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) and (min-width: 300px) {
  #majorMain {
    width: 95%;
  }

  #major_projectDiv {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .major_project_imgDiv {
    width: 100%;
  }

  .major_project_imgDiv > img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .major_project_detailsDiv {
    padding: 10px 10px 20px 10px;
    width: 100%;
    margin: auto;
  }

  #major_projectDivId {
    display: flex;
    flex-direction: column-reverse;
  }

  #major_project_detailsDiv_Heading {
    margin-bottom: 10px;
  }

  #major_project_detailsDiv_detail {
    margin-bottom: 20px;
  }

  #major_project_detailsDiv_tehcs {
    margin-bottom: 0px;
  }

  #major_project_detailsDi_btnDiv {
    width: 100%;
    margin-top: 10px;
  }

  #major_project_detailsDi_btnDiv > button {
    margin-top: 10px;
    padding: 15px 15px;
  }

  .links {
    font-size: 14px;
  }
}
