
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
 font-family: 'Bree Serif', serif;
}

.services_experience {
    width: 90%;
    margin: auto;
     font-family: 'Bree Serif', serif;
    background-color: transparent;
    margin-top: 80px;
    margin-bottom: 50px;
    border: 5px solid blue;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      padding: 20px;
}

.services_experience::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    bottom: 0;
     font-family: 'Bree Serif', serif;
      /* fontFamily="Bree Serif, serif" */
    width: 50%;
    z-index: -1;
}

.experiences{

 display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
     font-family: 'Bree Serif', serif;
}
.portfolios {
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
    align-items: center;
     font-family: 'Bree Serif', serif;
}

.experiences {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: transparent;
     font-family: 'Bree Serif', serif;
    

}

.experience {
    flex: 0 0 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    width: 100%;
     font-family: 'Bree Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience h3 {
    font-size: 80px;
    line-height: 90px;
    font-weight: 900;
}

.experience p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
}

.portfolios {
    flex: 0 0 calc(66.66% - 10px);
    max-width: calc(66.66% - 10px);
    width: 100%;
    display: flex;
}

.portfolio {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 150px;
}

.portfolio h4 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
}

.portfolio p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}

@media (max-width: 660px) {

    .experience,
    .portfolios {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }
}