#skill {
  width: 90%;
  margin: auto;
  font-family: serif;
  border: 0px solid red;
      cursor: pointer;
}

#skillDiv {
  width: 90%;
  margin: 20px auto;
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  font-family: serif;
margin-bottom: 50px;
  border: 0px solid green;
   place-items: center

}

.skill_in_div {
  border: 0px solid #1d1dd6;

  align-items: center;

  width: 80%;
  padding: 10px;
/* height: auto; */
  margin-bottom: 40px;
  text-align: center;
  border-radius: 10px;

  transition: all 0.2s ease-in-out;
  box-shadow: #d3c7e8af 10px 10px 0px 0px;
}

.skill_in_div:nth-child(9){
  border: 0px solid green;
  height: 81%;
}
.skill_in_div:nth-child(10){
  border: 0px solid green;
  height: 81%;
}
.skill_in_div:nth-child(13){
  border: 0px solid green;
  height: 81%;
}
.skill_in_div:nth-child(12){
  border: 0px solid green;
  height: 81%;
}
.skill_in_div:hover {

  box-shadow: rgba(121, 114, 232, 1) 10px 10px 0px 0px;
  transform: scale(0.98);
}

.logo {
  width: 100%;

  display: block;

  padding: 5px;
  margin: auto;

  border: 0px solid rgb(255, 0, 0);
}

#skillH3 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  width: 100%;
  margin: auto;
  font-family: "Bree Serif", serif;
  border: 0px solid yellow;
  color: #4c3575;
}

#skillH3:hover {
  color: #fef5ed;
}

@media all and (min-width: 768px) and (max-width: 1280px) {
  #skillDiv {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
#SkillH3{
  width: 100%;
  margin: auto;
}

}
@media all and (min-width: 300px) and (max-width: 767px) {
  #skillDiv {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-right: 10px;
  }


}
