#skill {
  width: 90%;
  margin: auto;
  font-family: serif;
  border: 0px solid red;
}

#skillDiv {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  font-family: serif;
  padding: 20px;
  border: 0px solid green;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

}

.skill_in_div {
  border: 0px solid #1d1dd6;

  align-items: center;

  width: 190px;
  padding: 10px;

margin-bottom: 40px;
  text-align: center;
  border-radius: 10px;

  transition: all 0.2s ease-in-out;
  box-shadow: #d3c7e8af 10px 10px 0px 0px;
}

.skill_in_div:hover {
  /* border: 2px solid rgba(255, 255, 255, 0.125); */
  /* color: white; */
  box-shadow: rgba(121, 114, 232, 1) 10px 10px 0px 0px;
  transform: scale(0.98);
}

.logo {
  width: 100%;
  padding: 5px;
  display: block;
  /* height: 200px; */
  /* display: block; */
  border-radius: 5px;
  border: 0px solid blue;
}

#skillH3 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding: 5px;

 font-family:  'Bree Serif', serif;
  border: 0px solid yellow;
  color: #4c3575;
 
}

#skillH3:hover {
  color: #fef5ed;
}

@media screen and (max-width: 1180px) and (min-width: 760px) {
  #skillDiv {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 10px;
  }

  .logo {
    width: 65%;
  }
}
@media screen and (max-width: 759px) and (min-width: 200px) {
  #skillDiv {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 35px;
  }

  .logo {
    width: 75%;
    height: 125px;
  }
}
