#about_head {
    font-size: xl;
    text-align: center;
    border: 0px solid green;
       font-family: serif;
}

#aboutDiv {
   
    width: 90%;
      
    margin: auto;
    border:0px solid #4C3575;
    display: flex;
    font-family: serif;
    margin-top: 20px;
  

    border-radius: 20px;
   
}

.aboutDetails {
   
    margin-left: 40px;
    width: 65%;
       font-family: serif;
     border: 0px solid red;
     margin-top: 50px;
     margin-bottom: 100px;
     padding: 30px;
}

#first {
   
    width:30%;
    /* height: 70%; */
    border: 0px solid green;
   border-radius: 25% 25% 25% 25%;
   padding: 10px;
    
}
.name {
    font-size: 25px;
   
    font-weight: bold;
}


.namep {

    font-size: 20px;
    padding-top: 20px;
}

#resumeDiv {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #FEF5ED;
    width: fit-content;
    padding: 3px 10px 3px 10px;
    border-radius: 7px;
    margin-top: 20px;
    border: 0px solid blue;
    cursor: pointer;
       font-family: serif;
    margin-right: 100px;
}

.resumeButton {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
       font-family: serif;
    cursor: pointer;
    border: 0px solid red;
}

.resumeDownloadLogo {
    font-size: 22px;
}

@media screen and (max-width:1180px) and (min-width:760px) {
    #about_head {
        font-size: 3xl;
        text-align: center;
    }
    .aboutDiv {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 95%;
        /* height: 430px; */
        margin-top: 30px;
        border-radius: 30px;
        align-items: center;
    }
    #myImg {
       
        width:48%;
        height: 100%;
    }
    .aboutDetails {
        margin-top: 10px;
        margin-left: 20px;
    }

    .name {
        font-size: 20px;

    }

    .namep {
        margin-top: 20px;
        font-size: 20px;
    }

    #resumeButton {
        font-size: 18px;
    }

    .resumeDownloadLogo {
        font-size: 18px;
    }
}

@media screen and (max-width:759px) and (min-width:200px) {
    #about_head {
        font-size: 3xl;
        text-align: center;
    }

    #aboutDiv {
        flex-direction: column;
        width: 80%;
        /* height: 700px; */
    }

    #myImg {
        width: 100%;
        height: 50%;
          border-radius:  50%;
      
    }

    .aboutDetails {
        margin-top: 20px;
        margin-left: 5px;
        width: 100%;
    }

    .name {
        font-size: 18px;
       
        font-weight: bold;
    }

    .name:nth-child(1) {
        font-size: 20px;
    }

    .namep {
        /* color: #243D25; */
        font-size: 16px;
    }

    #resumeDiv {
        margin-bottom: 20px;
    }

    #resumeButton {
        font-size: 16px;
    }

    .resumeDownloadLogo {
        font-size: 16px;
    }
}