@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  font-family: "Bree Serif", serif;
}
.quote {
  width: 80%;
  margin: auto;
}
.quote > img {
  margin: auto;
}
#home {
  width: 90%;
  margin: auto;
  margin-top: 130px;
  font-family: serif;
  /* color: #243D25; */
  color: #4c3575;
  border: 0px solid gold;
  /* display: flex;
  justify-content: space-between; */
  /* height: 500px; */
}

#myImg {
  border-radius: 30px;
  width: 80%;
  margin-right: 50px;

  /* height: 450px; */
}

#myDetailsDiv {
  width: 100%;
  margin-left: 60px;
  text-align: justify;
  font-family: "Bree Serif", serif;
  border: 0px solid green;
}
.img_txt_wrapper {
  display: flex;
  border: 0px solid black;
  align-items: center;
  justify-content: space-between;
}
#myName {
  margin-bottom: 7px;
  font-size: 50px;
  animation: type 3s steps(25);
  overflow: hidden;
  border: 0px solid blue;
  font-family: "Bree Serif", serif;
  white-space: nowrap;
}

#title {
  margin-bottom: 30px;
  font-size: 42px;
  animation: type 3s steps(22);
  overflow: hidden;
  font-family: "Bree Serif", serif;
  white-space: nowrap;
  border: 0px solid teal;
}

@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 22ch;
  }
}

#detail {
  line-height: 26px;
  font-family: serif;
  font-size: 18px;
  border: 0px solid pink;
}

@media screen and (max-width: 1124px) and (min-width: 768px) {
  #home {
    width: 90%;
    margin-top: 150px;
  }

  #myDetailsDiv {
    width: 90%;
    margin: auto;
    margin-left: 20px;
  }

  #myName {
    margin-bottom: 10px;
    font-size: 32px;
  }

  #myImg {
    border-radius: 30px;
    width: 50%;
    /* height: 380px; */
    margin: auto;
  }
  .quote {
    width: 80%;
    margin: auto;
  }
  .quote > img {
    margin: auto;
  }
  #title {
    font-size: 20px;
  }

  #detail {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  #home {
    width: 90%;
    margin-top: 150px;
  }
  .img_txt_wrapper {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    flex-direction: column;
  }
  #myDetailsDiv {
    width: 77%;
    margin: auto;
  }
  .quote {
    width: 80%;
    margin: auto;
  }
  #myName {
    margin-bottom: 10px;
    font-size: 32px;
  }

  #myImg {
    border-radius: 30px;
    /* width: 62%; */
    /* height: 380px; */
    margin: auto;
    border: 0px solid red;
  }

  #title {
    font-size: 20px;
  }

  #detail {
    font-size: 18px;
  }
}
/* 
@media screen and (max-width:480px) and (min-width:320px) {
  #home {
    width: 95%;
    margin-top: 130px;
  }

  #myDetailsDiv {
    width: 100%;
    margin-left: 0px;
    text-align: start;
  }

  #myName {
    margin-bottom: 12px;
    margin-top: 50px;
    animation: none;
    font-size: 32px;
  }

  #myImg {
    margin: auto;
    width: 90%;
    height: 380px;
  }

  #title {
    margin-bottom: 30px;
    font-size: 24px;
    animation: none;
  }

  #detail {
    line-height: 24px;
    font-size: 18px;
  }

} */
