.navbar {
  width: 100%;

  background-color: #4c3575af;
  backdrop-filter: blur(12px) saturate(180%);
  position: fixed;
  z-index: 100;
  font-size: 18px;
  color: white;
  border-bottom: 1px solid white;
}
#logo{
  border:0px solid red;
  width:18%;
  border-radius:5px;

}
/* #logo:hover{
   background: rgb(121, 114, 232);
  background: linear-gradient(
    90deg,
    rgba(121, 114, 232, 1) 0%,
    rgba(91, 91, 236, 1) 44%,
    rgba(26, 150, 236, 1) 99%
  );
} */
.navbarScrolled {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #005685;
  position: fixed;
  z-index: 100;
  font-size: 20px;
  color: white;
  opacity: 0.9;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.wrapperLeft img {
  margin-left: 40px;
  width: 80px;
  cursor: pointer;
}

.wrapperRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 88%;
}

.navbar-resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 125px;
  text-align: center;
  color: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  font-style: normal;
  cursor: pointer;
}

.navbar-resume:hover {
  color: white;
  background: rgb(121, 114, 232);
  background: linear-gradient(
    90deg,
    rgba(121, 114, 232, 1) 0%,
    rgba(91, 91, 236, 1) 44%,
    rgba(26, 150, 236, 1) 99%
  );
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wrapperRight a {
  color: white;
  font-weight: bold;
}
.wrapperRight a:hover {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  /* color: rgb(121,114,232);
color: linear-gradient(90deg, rgba(121,114,232,1) 0%, rgba(91,91,236,1) 44%, rgba(26,150,236,1) 99%); */
  color: black;
  font-weight: bold;
}

.responce {
  display: none;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .wrapperRight {
    /* display: none; */
  }

  .responce {
    margin-right: 40px;
    display: block;
    font-size: 30px;
  }

  .drawerbody {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .drawerbody a:hover {
    cursor: pointer;
    color: #6a6a6a;
  }

  .navbar-resume {
    background-color: #1a1a1a;
    color: white;
  }

  .navbar-resume:hover {
    background: repeating-linear-gradient(
      rgba(181, 68, 63, 1) 0%,
      rgb(176, 66, 70) 60%,
      rgb(116, 43, 111) 100%
    );
  }
}
@media all and (min-width: 280px) and (max-width: 767px) {
  .wrapperRight {
    display: none;
  }

  .wrapper {
    /* height: 80px; */
    width: 100%;
    border: 0px solid red;
  }

  .responce {
    margin-right: 40px;
    display: block;
    font-size: 30px;
  }

  .drawerbody {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .drawerbody a:hover {
    cursor: pointer;
    color: #6a6a6a;
  }

  .navbar-resume {
    background-color: #1a1a1a;
    color: white;
  }
  .navbar-resume:hover {
    background: repeating-linear-gradient(
      rgba(181, 68, 63, 1) 0%,
      rgba(176, 66, 70, 1) 60%,
      rgb(116, 43, 111) 100%
    );
  }
}
