#nav {
    height: 80px;
    width: 100%;
    position: fixed;
 
    top: 0px;
    border-radius: 5px;
    
  
    margin: auto;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px solid red;
    background-color: #92bcb5;
}

#nav1 {
    display: flex;
    align-items: center;
    height: 100%;
    border: 0px solid blue;
    margin-right: 30px;
}

.logo {
    margin-left: 40px;
    width: 80px;
    height: 50px;
    /* border-radius: 50%; */
    border-radius: 15px 50px 15px;

}

#nav1>h3 {
    margin-right: 40px;
    font-size: 22px;
    font-weight: bold;
}

.nav1H:hover {
    color: #EBC7E8;
   

   
}
.nav1H{
 scroll-behavior: smooth;

}
.anchor {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #FEF5ED;
}

#nav2 {
    display: none;
    margin-right: 40px;
}

@media screen and (max-width:1180px) and (min-width:760px) {
    #nav2 {
        display: block;
    }

    #nav1 {
        display: none;
    }

    #nav {
        width: 100%;
       
    }
}

@media screen and (max-width:759px) and (min-width:200px) {
    #nav2 {
        display: block;
    }

    #nav1 {
        display: none;
    }

    #nav {
        width: 100%;
     
    }
}
