<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            #cont {
                width: 50%;
                margin: auto;
                border: 0px solid red;
            }
            #value_div {
                width: 80%;
                margin: auto;
                border: 0px solid green;
                text-align: center;
                padding: 20px 20px 50px 20px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        
        </style>
    </head>
    <body>
        <div id="cont">
            <h1 style="text-align: center">Counter App</h1>
            <div id="value_div">
                <h1 id="counter">0</h1>
                <br />
                <button id="inc">Increment</button>
                <button id="dec">Decriment</button>
                <button id="reset">Reset</button>
            </div>
        </div>
    </body>
</html>

<script>
    let counterValue = document.getElementById("counter");
    value = 0;
    let incbtn = document.getElementById("inc");
    let decbtn = document.getElementById("dec");
    let resetbtn = document.getElementById("reset");

    incbtn.addEventListener("click", () => {
        value++;
        counterValue.innerText = value;
        if (value === 10) {
            incbtn.disabled = true;
        }else {
            incbtn.disabled = false;
        }
         decbtn.disabled = false;
    });

    decbtn.addEventListener("click", () => {
        value--;
        counterValue.innerText = value;
        if (value === 0) {
            decbtn.disabled = true;
        }else{
            decbtn.disabled=false;
        }
         incbtn.disabled = false;
    });

    resetbtn.addEventListener("click", () => {
        value = 0;
        counterValue.innerText = value;
    });
</script>
