.tog1{

    width: 500px;
    height: 100px;
    margin: auto;
    font-weight: bold;
    background-color: green;
}
.tog2{

    width: 500px;
    height: 100px;
    margin: auto;
    font-weight: bold;
    background-color:red;
}