.App {
  /* width: 100%; */
  position: absolute;
  top: 0;
}

body {
  font-family: "Exo", sans-serif;
}

#themeButton {
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 1;
}
@media screen and (max-width: 767px) and (min-width: 320) {
  #themeButton {
    position: fixed;
    top: 100px;
    right: 10px;
    z-index: 1;
  }
}
